<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.tymelif.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Аналитика продаж</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/jbootstrap.min.js"></script>
</head>
<body>
<h1>Список продаж</h1>
<div>
    <table th:if="${sales.size()>0}" class="table">

        <thead class="thead-dark">
        <tr>
            <td>Номер карты</td>
            <td>Дата</td>
            <!--<td>Сумма продаж</td>-->
            <td>Покупки</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text ="${sale.card_number}"></td>
            <td th:text ="${#calendars.format(sale.date,'dd MMMM yyyy')}" />
            <!--<td th:text ="${#aggregates.sum(sale.productDTOS.![price*count])}" >00.00</td>-->
            <td><a class="btn btn-info"    th:href="@{'/products/?id='+${sale.id}}">инфо</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>